[submodule "Taikomochi"]
	path = Taikomochi
	url = https://github.com/Amvoled/Taikomochi
[submodule "Bird-Jokers"]
	path = Bird-Jokers
	url = https://github.com/JustinBanzon/Bird-Jokers
[submodule "BBBalatro"]
	path = BBBalatro
	url = https://github.com/BBBalatroMod/BBBalatro.git
[submodule "Bunco"]
	path = Bunco
	url = https://github.com/Firch/Bunco
[submodule "CheesyJokers"]
	path = CheesyJokers
	url = https://github.com/ilikecheese0/CheesyJokers
[submodule "DebugPlus"]
	path = DebugPlus
	url = https://github.com/Dimserene/DebugPlus/
[submodule "FloundersJokers"]
	path = FloundersJokers
	url = https://github.com/Flounderlul/FloundersJokers
[submodule "JankJonklers"]
	path = JankJonklers
	url = https://github.com/spikeof2010/JankJonklers
[submodule "JokerSellValue"]
	path = JokerSellValue
	url = https://github.com/OppositeWolf770/JokerSellValue
[submodule "kcvanilla"]
	path = kcvanilla
	url = https://github.com/kcgidw/kcvanilla
[submodule "Loop"]
	path = Loop
	url = https://github.com/jenwalter666/Loop
[submodule "MikasBalatro"]
	path = MikasBalatro
	url = https://github.com/Dimserene/MikasBalatro
[submodule "MoreFluff"]
	path = MoreFluff
	url = https://github.com/notmario/MoreFluff
[submodule "MoreJokerPacks"]
	path = MoreJokerPacks
	url = https://github.com/Samario1/MoreJokerPacks
[submodule "MystBlinds"]
	path = MystBlinds
	url = https://github.com/Mysthaps/MystBlinds
[submodule "MystesOpenJokers"]
	path = MystesOpenJokers
	url = https://github.com/CelestialBoon/MystesOpenJokers
[submodule "Nopeus"]
	path = Nopeus
	url = https://github.com/jenwalter666/Nopeus
[submodule "Ortalab-DEMO"]
	path = Ortalab-DEMO
	url = https://github.com/GauntletGames-2086/Ortalab-DEMO/
	branch = test
[submodule "SDM0-s-Stuff"]
	path = SDM0-s-Stuff
	url = https://github.com/Dimserene/SDM0-s-Stuff
