[submodule "Taikomochi"]
	path = Mods/Taikomochi
	url = https://github.com/Amvoled/Taikomochi
[submodule "Bird-Jokers"]
	path = Mods/Bird-Jokers
	url = https://github.com/JustinBanzon/Bird-Jokers
[submodule "BBBalatro"]
	path = Mods/BBBalatro
	url = https://github.com/BBBalatroMod/BBBalatro.git
[submodule "Bunco"]
	path = Mods/Bunco
	url = https://github.com/Firch/Bunco
[submodule "CheesyJokers"]
	path = Mods/CheesyJokers
	url = https://github.com/ilikecheese0/CheesyJokers
[submodule "DebugPlus"]
	path = Mods/DebugPlus
	url = https://github.com/Dimserene/DebugPlus/
[submodule "FloundersJokers"]
	path = Mods/FloundersJokers
	url = https://github.com/Flounderlul/FloundersJokers
[submodule "JankJonklers"]
	path = Mods/JankJonklers
	url = https://github.com/spikeof2010/JankJonklers
[submodule "JokerSellValue"]
	path = Mods/JokerSellValue
	url = https://github.com/OppositeWolf770/JokerSellValue
[submodule "kcvanilla"]
	path = Mods/kcvanilla
	url = https://github.com/kcgidw/kcvanilla
[submodule "Loop"]
	path = Mods/Loop
	url = https://github.com/jenwalter666/Loop
[submodule "MikasBalatro"]
	path = Mods/MikasBalatro
	url = https://github.com/Dimserene/MikasBalatro
[submodule "MoreFluff"]
	path = Mods/MoreFluff
	url = https://github.com/notmario/MoreFluff
[submodule "MoreJokerPacks"]
	path = Mods/MoreJokerPacks
	url = https://github.com/Samario1/MoreJokerPacks
[submodule "MystBlinds"]
	path = Mods/MystBlinds
	url = https://github.com/GayCoonie/MystBlinds/
[submodule "MystesOpenJokers"]
	path = Mods/MystesOpenJokers
	url = https://github.com/CelestialBoon/MystesOpenJokers
[submodule "Nopeus"]
	path = Mods/Nopeus
	url = https://github.com/jenwalter666/Nopeus
[submodule "Ortalab-DEMO"]
	path = Mods/Ortalab-DEMO
	url = https://github.com/GauntletGames-2086/Ortalab-DEMO/
	branch = test
[submodule "Steamodded"]
	path = Mods/Steamodded
	url = https://github.com/Steamopollys/Steamodded
[submodule "SpicyJokers"]
	path = Mods/SpicyJokers
	url = https://github.com/RitchieDimaria/SpicyJokers
[submodule "The-World-Ends-With-Jimbo"]
	path = Mods/The-World-Ends-With-Jimbo
	url = https://github.com/parchmentEngineer/The-World-Ends-With-Jimbo
[submodule "TheTrickster"]
	path = Mods/TheTrickster
	url = https://github.com/cerloCasa/TheTrickster
[submodule "VanillaExpansion"]
	path = Mods/VanillaExpansion
	url = https://github.com/nekojoe/VanillaExpansion
[submodule "Virtues"]
	path = Mods/Virtues
	url = https://github.com/someone23832/Virtues
[submodule "Bettma-Mods"]
	path = Mods/Bettma-Mods
	url = https://github.com/GayCoonie/Betmma-Mods
[submodule "SDM0-s-Stuff"]
	url = https://github.com/SDM0/SDM_0-s-Stuff
[submodule "./SDM0-s-Stuff"]
	url = https://github.com/SDM0/SDM_0-s-Stuff
[submodule "./Mods/SDM0-s-Stuff"]
	url = https://github.com/SDM0/SDM_0-s-Stuff
[submodule "Mods/SDM0-s-Stuff"]
	path = Mods/SDM0-s-Stuff
	url = https://github.com/SDM0/SDM_0-s-Stuff
